/*
Colors used
Primary Color: Dark Purple #8B7999
Seconday Color: Pink #ff8285
Other colors: Light Purple #dacce5, Dark Green #94996a, Light Green #e3e6cc,
Off White #fefvff
Button: Darker Purple #736c7b
*/


* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.logo {
  text-align: center;
  max-width: 250px;
}

body {
  background-color: #FEFCFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #8B7999;
}


img {
  width: 100%;
}

header {
  background-color: #e3e6cc;
  padding: 10px 0 4px;
   margin: 0px;
   border-bottom: 0px solid #4a4a4a;
   text-align: center; /* Centers text */
   -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
   -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.25);
   box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.25);
   position:relative;
}


h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center; /* Centers text */
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center; /* Centers text */
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  text-align: center; /* Centers text */
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
  text-align: center; /* Centers text */
}

.d-block {
	display: block;
}
.d-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.button {
  display: inline-block;
  background-color: #736C7B;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2x solid #994c30;
  transition-duration: 0.2s;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #736C7B;
  text-transform: uppercase;
  border: 2px solid #736C7B;
}

.button.contact:hover {
  background-color: #736C7B;
  color: #ffffff;
}

svg {
    max-width: 32px;
}


/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

nav > ul {
    list-style-type: none;
    padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: inherit;
    color: #8B7999;
}

nav > ul > li > a:visited {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: inherit;
    color: #FF8285;
}

nav > ul > li > a:hover {
    padding: 0 15px;
    text-transform: uppercase;
    background-color: #FF8285;
    color: #ffffff;
    font-weight: 700;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #94996a;
    transition: 0.2s opacity;
}

nav > ul > li > a:active {
    padding: 0 15px;
    text-transform: uppercase;
    background-color: #54e9d1;
    color: #7e49f6;
    font-weight: 700;
    padding-bottom: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #7e49f6;
    transition: 0.2s opacity;
}

#hero {
  background-color: #e3e6cc;
}

#hero h1 {
    text-align: center;
    margin: 0;
    padding: 0.67em 0;
}

#hero {
  background-color: #e3e6cc;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.berlin-illustration {
width: 100%;
max-width: 100%;
height: auto;
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

[class*="col-"] {
  float: left;
}

.row::after {
  content: "";
  display: table;
  clear: both;
  padding: 10px;
}

.copyright {
    text-align: center;
}

.button-contact {
    text-align: center;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
  text-align: unset;
  padding: 20px 0 13px;
 }

 nav {
   width: auto;
   float: right;
   margin-top: -10px;
 }

 body {
   background-color: #FEFCFF;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 18px;
   line-height: 1.6;
   color: #8B7999;
   text-align: center;
 }

 #hero span {
  display: block;
  text-align: center;
}

#hero {
  margin: 0;
  padding: 0.67em 0;
}

.col-md-6 {
  width: 50%;
  padding: 10px;
}

.logo {
  max-width: 250px;
  max-height: 64px;
  width: auto;
}

nav > ul > li {
  display: inline-block;
}

/* this makes the list items show up next to each other */
.navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

nav > ul {
  list-style-type: none;

main {
  padding-top: 0px;
}

[class*="col-"] {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {


  header {
    text-align: unset;
    padding: 20px 0 13px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }

  .col-lg-1 {
    width: 100%;
    float: left;
  }

  .col-lg-3 {
    width: 25%;
    float: left;
  }

  .col-lg-9 {
    width: 75%;
    float: left;
  }

  .col-lg-7 {
    width: 60%;
    float: left;
  }

  .col-lg-5 {
    width: 40%;
    float: left;
  }

  .col-lg-6 {
    width: 50%;
    float: left;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .container-pic {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  #contact .container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  #story .row {
    border-bottom: unset;
    padding-bottom: 0;
  }

  #skills .row {
    border-bottom: unset;
    padding-bottom: 0;
  }

  #tools .row {
    border-bottom: unset;
    padding-bottom: 0;
  }

  body {
    font-size: 18px;
  }

  .row {
    margin-bottom: 0;
  }

  .logo {
    max-width: 250px;
    max-height: 64px;
    width: auto;
  }

  nav > ul > li {
    display: inline-block;
  }

  /* this makes the list items show up next to each other */
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav > ul {
    list-style-type: none;

    /* padding: 0; */
    margin: 1em 0;
  }

  main {
    padding-top: 120px;
  }

  #story {
    margin: auto;
  }

  #picrow {
    display: flex;
    align-items: center;
  }

  #userstory {
    font-weight: 700;
    width: 600px;
    max-width: 100%;
    height: auto;
    margin: auto;
  }

}
