/*
Colors used
Primary Color: Dark Purple #8B7999
Seconday Color: Pink #ff8285
Other colors: Light Purple #dacce5, Dark Green #94996a, Light Green #e3e6cc,
Off White #fefvff
Button: Darker Purple #736c7b
*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.logo {
  text-align: center;
  max-width: 250px;
}

body {
  background-color: #FEFCFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #8B7999;
}


img {
  width: 100%;
}

header {
  background-color: #e3e6cc;
  padding: 10px;
   margin: 0px;
   border-bottom: 0px solid #4a4a4a;
   text-align: center; /* Centers text */
   -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
   -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.25);
   box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.25);
   position:relative;
}


h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center; /* Centers text */
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center; /* Centers text */
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  text-align: center; /* Centers text */
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
  text-align: center; /* Centers text */
}

.d-block {
	display: block;
}
.d-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
}


.button {
  display: inline-block;
  background-color: #736C7B;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2x solid #994c30;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #736C7B;
  text-transform: uppercase;
  border: 2px solid #736C7B;
}

.button.contact:hover {
  background-color: #736C7B;
  color: #ffffff;
}

svg {
    max-width: 32px;
}


/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

nav > ul {
    list-style-type: none;
    padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: inherit;
    color: #8B7999;
}

nav > ul > li > a:visited {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: inherit;
    color: #FF8285;
}

nav > ul > li > a:hover {
    padding: 0 15px;
    text-transform: uppercase;
    background-color: #FF8285;
    color: #ffffff;
    font-weight: 700;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #94996a;
    transition: 0.2s opacity;
}

nav > ul > li > a:active {
    padding: 0 15px;
    text-transform: uppercase;
    background-color: #54e9d1;
    color: #7e49f6;
    font-weight: 700;
    padding-bottom: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #7e49f6;
    transition: 0.2s opacity;
}

#hero {
  background-color: #e3e6cc;
}

#hero h1 {
    text-align: center;
    margin: 0;
    padding: 0.67em 0;
}

#hero {
  background-color: #e3e6cc;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
  text-align: unset;
  padding: 20px 0 13px;
 }

 nav {
   width: auto;
   float: right;
   margin-top: 4px;
 }

 body {
   background-color: #FEFCFF;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 18px;
   line-height: 1.6;
   color: #8B7999;
   text-align: center;
 }

 #hero span {
  display: block;
  text-align: center;
}

#hero {
  margin: 0;
  padding: 0.67em 0;
}

.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
